---
layout: default
---
<div id="head">
    <div class='logo left'>
        <a href="/" title="Home">Ramiel's Wiki</a>
    </div>
    <div id="header">
        <div class="nav right">
           <a href="/" title="首页" ret="bootmark"><i class="icon-home"></i>首页</a>
  			<a href="/archives.html" ret="bootmark">归档</a>
  			<a href="/categories.html" ret="bootmark">分类</a>
  			<a href="/tags.html" ret="bootmark">标签</a>
			<a href="/wiki" ret="bootmark">Wiki</a>
  			<a href="/about.html" ret="bootmark">关于</a>
        </div><!-- .nav -->
    </div><!-- #header -->
</div><!-- #head -->
<div id="content">
    {{ content }}
</div><!-- #content --> 
<div id="footer">
    <!--  <div class="copyright right">
        {% for line in site.copyright %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>  -->
</div><!-- #footer -->
